.fms-found-spct {
	color: red;
	font-weight: bold;
}

.fms-notok {
	color: maroon;
	font-weight: bold;
	font-size: 20px;
	
	color: white;
    border: 2px dashed red;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 4px;
}

/* Дизайн для всего найденых */
.fms-total_find_sum {
	color: black; background: white; border-radius: 0px;padding: 0px 4px;font-weight: bold;border: 1px solid #a800ff;
}

.fms-ok {
	color: green;
	font-weight: bold;
	font-size: 20px;
	
	color: white;
    border: 2px dashed #00ff00;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 4px;
}

/* Дизайн для всего когда ничего не найдено */
.fms-total_nonefind_sum {
	color: black; background: white; border-radius: 0px;padding: 0px 4px;font-weight: bold;border: 1px solid #a800ff;
}

/* Button Start Scanner */
.fms-startscanner {
    background: linear-gradient(90deg, #009688c2, transparent);
	color: #fff; 
	padding: 10px 20px; 
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
    text-shadow: 1px 1px 2px black;
    border: 2px outset #ffffff;
	border-radius: 2px;
    margin-right: 20px;
    text-transform: uppercase;
}

/* Details & summary */
.fms-details {
	margin-right: 20px;
}
.fms-summary {
	background-color: #dadada; padding: 10px 15px; font-size: 18px; font-weight: bold; cursor: pointer; width: fit-content;
}
.fms-details p {
	padding: 20px; margin: 0; line-height: 1.6; font-size: 16px; background-color: #e2e2e2; width: 350px;
}

/* Lines hr */
.fms-linestd {
	height: 2px;
	margin-right: 20px;
}

.fms-linechksum {
	height: 5px;
	margin-right: 20px;
}

/* Total files sum */
.fms-totalfilessum {
	padding: 5px;
    border: 2px inset #fff9f9;
    background: #ffffff;
    border-radius: 25px;
	margin-left: 10px;
}

/* Total size files */
.fms-totalsize {
	padding: 5px;
    border: 2px inset #fff9f9;
    background: #ffffff;
    /* margin-right: 20px; */
    display: inline-block;
    margin-left: 10px;
    border-radius: 25px;
}

/* List of files */
.fms-listfiles {
	display: flex;
	background: white;
}

.fms-listnumber {
	background: #f0f0f175;
    padding: 5px;
    color: #bfbfbf;
    margin: 5px;
    border-radius: 5px;
}

.fms-listfilename {
	background: #ffe3e330;
    padding: 5px;
    flex-grow: 1;
    margin: 5px;
    border-radius: 5px;
}

.fms-listsize {
	background: #f7e3ff6b;
    padding: 5px;
    width: 40px;
    margin: 5px;
    border-radius: 30px;
    text-align: center;
    color: #b8a0b8;
}

.fms-listdate {
	background: #e3eaff61;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: #9ca9cb;
	width: 100px;
    text-align: center;
}

/* Обертка для списка файлов */
.fms-filelistwrapper {
	padding: 5px;
    border: 2px inset #fff9f9;
    background: #ffffff;
    /* margin-right: 20px; */
    display: inline-block;
    margin-right: 20px;
	height: 400px;
    overflow: auto;
}

/* Обертка для результатов поиска */
.fms-searchresultwrapper {
	padding: 5px;
    border: 2px inset #898989;
    background: #ffffff;
    /* margin-right: 20px; */
    display: inline-block;
    margin-right: 20px;
    height: auto;
    overflow: auto;
    background: black;
    color: white;
    border-radius: 2px;
}

/* Прогресбар 100% */
.fms-progressbar {
	background: #ffffff;color: black;text-align: center;padding: 3px;border: 2px solid black;outline: 2px dashed white;font-weight: bold;
}

/* Там где мигающий курсор в консоли */
.fms-consoleinput {
	color: white;
}

/* Дизайн для заголовка Scanner FMS */
.fms-scannerfmslogo {
	padding: 5px;
    background: linear-gradient(90deg, #4673eb, #98d8ff 80%);
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    border: 2px inset #70a7f5;
    margin-right: 20px;
    text-transform: uppercase;
    width: fit-content;
}

/* Дизайн для Found files */
.fms-foundfiles {
	padding: 5px;
    background: linear-gradient(90deg, #d7d7d7, transparent);
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    border: 2px inset #dadada;
    margin-right: 20px;
    text-transform: uppercase;
    width: fit-content;
    margin-bottom: 0px;
}

/* Дизайн для Searching results */
.fms-searchingresults {
	padding: 5px;
    background: linear-gradient(90deg, #000000, #00000085);
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    border: 2px inset #1e1e1e;
    margin-right: 20px;
    text-transform: uppercase;
    width: fit-content;
    margin-bottom: 0px;
}

/* Иконк темы */
.fms-themelogo {
	width: 20px;
    height: 20px;
    background: #794ccb;
	background: linear-gradient(145deg, #794ccb, #9a70e5, #794ccb);
/*    border-radius: 50%;*/
    border: 5px dashed #34c189;
    outline: 5px dotted #794ccb;
    box-shadow: 2px 2px 0px 2px #794ccb38;
/*    color: white;*/
	color: #7144c3;
    font-size: 9px;
    text-align: center;
}

/* Название темы */
.fms-themename {
	padding: 5px;
    border: 2px solid #00f5ff;
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(90deg, #ffc935, #ffe5a1);
    color: #392c07;
    font-weight: bold;
    border: 2px inset #ffcc3f;
    margin-right: 20px;
    text-transform: uppercase;
	
	margin-left: 10px;
    height: 20px;
}

/* Обертка для лого иконки и названия темы */
.fms-themelgwrapper {
	display: flex;
	align-items: center;
/*	width: fit-content;*/
    padding: 10px;
    background: linear-gradient(90deg, #d7d7d7, transparent);
}

/* Мигающий квадратик */
.fms-blinkblock {
	animation: blinker 1.0s linear infinite;
    color: #ffffff;
}
 @keyframes blinker {  
    50% { opacity: 0; }
}

/* Обертка для всего сканнера */
.fms-programwrapper {
/*	border: 2px outset #ffffff;*/
/*    background: #cccccc2e;*/
/*    padding: 10px;*/
    width: fit-content;
}